body{
    background: #0E0E0E;
    width: 1570px;
    margin-top: auto;
}

.Main-navigation {
    width: 1034px;
    background: #fff;
    margin: 0 auto;
    margin-right: 272px;
    
}
 
.navigation {
    width: 1035px;
}
.navigation ul {
    background: linear-gradient(180deg, rgba(27,25,25,1) 0%, rgba(1,10,13,1) 0%, rgba(0,212,255,1) 0%, rgba(26,38,41,1) 0%, rgba(8,9,9,1) 0%, rgba(9,13,13,1) 0%, rgba(102,105,106,1) 0%, rgba(165,172,173,1) 0%, rgba(51,48,48,1) 0%, rgba(9,13,13,1) 36%, rgba(10,17,17,1) 100%, rgba(8,7,7,1) 100%, rgba(40,41,41,1) 100%, rgba(48,49,49,1) 100%, rgba(65,67,67,1) 100%, rgba(30,31,31,1) 100%, rgba(52,53,54,1) 100%, rgba(22,23,23,1) 100%, rgba(36,37,37,1) 100%);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: right;
    padding-right: 30px;
    margin: 0px;
}
 
 
.navigation ul li{
    
    display: inline;
    margin-right: 46px;
    font-size: 10px;
}
.menu{

    text-decoration: none;
    color: #747777;
}
.active {
    text-decoration: none;
     color: #fff;
}
 

.row{
    width: 1035px;
    background: #2c2d2d;
    padding-bottom: 133px;
     
     
}
 
 .column1{
    width: 370px;
    float: left;
    padding-bottom: 15px;
    padding-top: 8px;
    background-color: 262626;
   
 }
 .column2{
    width: 665px;
    float: right;
    padding-bottom: 11px;
    background-color: 262626;

}
.navdesign{
    text-align: -webkit-right;
    font-size: 35px;
    border-right: 1px solid #434444;
    color: white;
    padding-right: 18px;
   
 
}
.navdesign1{
    
    padding-top: 12px;
    font-size: 35px;
    padding-left: 15px;
    color: white;
}
span{
    color: green;
    font-style: italic;
    font-size: 18px;
}
 
.page{
    width: 1035px;
    background-color: white;
    
}
.page-content1 {
    background: #f2f2f2;
    width: 1035px;
    
    font-size: 18px;
    padding-bottom: 190px;
    margin: 0px;
}
   .page-content1-head {
    font-size: 25px;
    padding-left: 110px;
    padding-bottom: 25px;
    padding-top: 35px;
    margin: 0;
     }
    
    .block{
        width: 160px;  
        float: left;
        margin-left: 55px;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;   
    }
    .block1 {
        padding: 9px;
        margin-left: 113px;
    }
    .block2 {
        padding: 10px;
         
    }
    .block3 {
        padding: 10px;
         
    }
    .block4 {
        padding: 10px;
    }


 .page-content2 {
    width: 1035px;
    padding-bottom: 455px;
    
    background-color: white;

}  
.container1.middle-page {
    margin-left: 105px;
}

.middle-page {
    width: 260px;
 
    float: left;
    margin-left: 40px;
    padding-top: 60px;
    text-align: center;
    margin-top: 20px;
    padding: 1px;
}
.image{
    background-color: lightgray;
    padding: 5px;
}
 .head{
    text-align: justify;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 23px;
 }
 
 .paragraph {
    text-align: justify;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
    line-height: 20px;
}
.paragraph-right {
    text-align: justify;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
    line-height: 20px;
    padding-top: 0px;
}
p.line {
    text-align: justify;
    font-size: 12px;
    padding-left: 10px;
}

 h5{
    text-align: justify;
    padding-left: 10px;
    margin-bottom: 0;
 }
 h6{
    text-align: justify;
    padding-left: 10px;
    margin: 0;
 }

 .position{
    color: green;
    margin: 8px;
    padding-left: 2px;
    
    padding-bottom: 5px;

 }
.button{
    color:white;
    background-color:green;
    width: 105px;
    height: 36px;
    margin-right: 135px;
    margin-top: 10px;

}


.footer{
    background:lightgray;
    width: 1035px;
    padding-bottom: 18px;
    text-align: center;
    
}
#footertext{
    text-align: center;
    padding-top: 55px;
    font-size: 16px;
}

 Below responsive css code 
  @media only screen and (max-width: 300px) {

    body {
        background-color: blue;
    } 
 

 @media only screen and  (max-width: 600px) {
    body {
        background-color: red;
    }
    .Main-navigation {
        width: 100%;
        background: #fff;
    }
    .navigation{
        background:#131313;
        width: 100%;
        
     }
    
     .sub-navigation {
        background: #363535;
        width: 100%;
         
        padding-top: 1; 
    }
    .page {
        width: 100%;
        
        background-color: white;
        padding-top: 1px;
    }
    .page-content1 {
        background: lightgray;
        width: 100%;
        padding-top: 12px;
        font-size: 30px;
    }
    .footer {
        background: lightgray;
        width: 100%;
        padding-bottom: 18px;
        text-align: center;
    }

}
